/* all */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
/* login/signup form */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 460px;
  background: #fff;
  padding: 20px;
  border: none;
  border-radius: 28px;
  box-shadow: 0 0 20px rgb(36, 34, 32, 0.3);
}
.button {
  margin-top: 40px;
}
.title {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}
.link a {
  color: #8e8e8e;
  font-size: 11px;
}
.link a:visited {
  color: #8e8e8e;
}
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #8e8e8e;
}
.image-section div {
  margin-left: 10px;
}
.form-login {
  height: 360px;
}
.login-checkbox {
  align-self: start;
  margin-right: 40px;
}
.form-signup {
  height: 500px;
}

/* user page */
.link-section a {
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
  color: rgb(36, 34, 32, 0.3);
  font-size: 12px;
  border-right: 1px solid rgb(36, 34, 32, 0.3);
  padding-right: 20px;
}
.link-section :last-child {
  border-right: none;
}
.link-section .active,
.link-section a:hover {
  color: inherit;
}
.mypage-tabs {
  width: 1000px;
  height: 440px;
}

/* home page */
.scroller {
  height: 643px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.scroller section {
  height: 100%;
  scroll-snap-align: start;
}
.scroller section:nth-child(2) {
  min-height: 100%;
  height: auto;
}
.main-banner {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.main-banner div {
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-banner img {
  height: 643px;
  width: 100%;
  object-fit: cover;
}
.main-banner a {
  font-size: 16px;
  margin: 0 10px;
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
}
