/* button */
.button {
    width: 80px;
    height: 40px;
    background-color: #467ddb;
    border: none;
    border-radius: 4px;
    color: #fff;
}

/* input */
.input {
    border-radius: 4px;
    border: 1px solid #71788d;
    padding-left: 4px;
}
