.centered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* profile */
.image-section {
  width: 80%;
  margin: 26px 20px;
}
.space div {
  margin-top: 8px;
}
.profile-section,
.organization-section,
.categories-section,
.product-section,
.policy-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(36, 34, 32, 0.7);
  margin: 30px 0;
  padding: 30px;
  font-size: 14px;
}
.product-list {
  width: 100%;
}
.product-card {
  height: 40px;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 9fr 1fr;
  border: 1px solid;
  border-radius: 4px;
  align-items: center;
}
.product-card img {
  width: 100%;
  height: inherit;
  object-fit: contain;
}
.product-card .list-product-details {
  display: flex;
}
.product-card .list-product-details div {
  margin-right: 12px;
}
.profile-details {
  width: 80%;
  height: 260px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.profile-details .titles div,
.profile-details .values div {
  margin: 26px 0;
}
.profile-details .updates div {
  margin: 12px 0;
}
.button-section {
  display: flex;
  margin: 10px 0;
  justify-content: center;
  grid-column: 1;
}
.button-section button:nth-child(1) {
  margin-right: 20px;
}
.grid-empty {
  color: #fff;
}

/* organization */
.organization-details {
  width: 102%;
  height: 260px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 18px;
}
.organization-details .titles div,
.organization-details .values div {
  margin: 26px 0;
  height: 30px;
}
.organization-details .updates div {
  margin-top: 16px;
  height: 38px;
}

/* category */
.category-add {
  display: flex;
}
.category-add input:nth-child(1) {
  margin-right: 20px;
}
.category-list {
  width: 40%;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
.category-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(99, 96, 93, 0.1);
  border-radius: 4px;
}

/* product */
.list-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}
.product-details {
  width: 100%;
  height: 300px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  column-gap: 18px;
}
.product-details .titles div {
  margin: 26px 0;
  height: 30px;
}
.product-details .updates div {
  margin-top: 16px;
  height: 38px;
}
.editor {
  width: 100%;
  margin: 20px 0;
}

/* policy */
.editor-l {
  width: 100%;
  margin: 20px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #f5efeb;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 20px -2px rgb(36, 34, 32, 0.3);
  font-size: 14px;
}
.navbar div a {
  color: inherit;
  text-decoration: none;
}
.profile {
  position: relative;
  display: flex;
  height: inherit;
}
.profile div {
  margin-right: 4px;
}
.profile a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* footer */
.footer {
  font-size: 10px;
  padding: 10px;
  background-color: #f5efeb;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 4px 20px 4px rgb(36, 34, 32, 0.3);
}
.footer-section {
  display: grid;
  grid-auto-flow: column;
}
.footer-section ul {
  list-style-type: circle;
  padding: 0 18px;
}
.footer-section ul li {
  padding: 4px 0;
}

/* icon */
.icons-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-section div:nth-child(1) {
  margin-right: 6px;
}
.icons-section .icon,
.status .icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.icons-section .icon:nth-child(1) {
  margin-left: 16px;
}
.status {
  display: flex;
  align-items: center;
  justify-content: center;
}
.status .icon {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

/* dropdown */
.dropdown-section {
  position: absolute;
  top: 40px;
  right: -28px;
}

/* error */
.error {
  font-size: 10px;
  color: #e58025;
}

/* required-mark */
.required-mark {
  color: #e58025;
}

/* home */
.best-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 20px;
  margin: 30px;
  font-weight: 500;
}
.load {
  display: flex;
  justify-content: center;
}
.load button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.load button img {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
}

.best-items-list {
  display: grid;
  margin: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.best-items-list .empty {
  grid-column-end: span 5;
}

/* details description */
.upper {
  height: 420px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 140px;
}
.upper .description div {
  padding: 10px 0;
}
.upper .description .brand {
  font-weight: 600;
  font-size: 16px;
  color: rgb(36, 34, 32, 0.3);
}
.upper .description .category {
  font-size: 14px;
  padding: 4px;
  background-color: rgb(99, 96, 93, 0.1);
}
.upper .description .name {
  font-size: 30px;
  font-weight: 600;
  color: #e58025;
}
.upper .description .rating {
  display: flex;
  align-items: center;
}
.upper .description .price-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  margin: 20px 0;
  border-top: 1px solid rgb(99, 96, 93, 0.1);
}
.upper .description .price {
  font-size: 20px;
}
.upper .description .btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upper .description .btn-section button:nth-child(1) {
  margin-right: 30px;
}
