/* form */
.input-list > * {
  margin: 20px 0;
}

/* links */
.links-section a {
  margin: 0 10px;
  color: inherit;
  text-decoration: none;
}

.links-section .active,
.links-section a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}
.link {
  position: relative;
}

/* error */
.error {
  font-size: 10px;
  color: #e58025;
}

/* dropdown */
.dropdown-section {
  position: absolute;
  top: 40px;
  right: -28px;
}
